#User-box {
    width: 30rem;
    position: relative;
    left: 450px;
    bottom: 364px;
    
 }

 #default-pic {
    width: 200px;
    height: auto;
    position: relative;
    left: 110px;
 }

 .saved-listings{
   display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(to bottom ,#fff, rgb(198, 194, 194));
 }