
.register-cntr{
    display: flex;
    justify-content: center;
    background-color: rgb(71, 124, 181);
    width: 100%;
    height: 1000px
    
}

.register-card{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 5%;
    
}

.register-card > h1{
    margin-left: 8%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-card > label {
    margin-left: 10%;
    margin-top: 5%;
}

.register-card > input {
    width: 75%;
    margin-left: 10%;
    height: 6%;
    border-radius: 3%;
    border: 1px black solid;
    
}

.btn {
    margin-left: 10%;
    width: 75%;
    height: 6%;
    background-color: rgb(221, 96, 132);
    border-style: none;
    margin-top: 6%;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(243, 105, 144);
    transition: background-color 700ms ease-in-out;
}

.login-state{
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
    color: red;
    font-weight: 500;
}

