body{
	overflow-x: hidden;
}

#loader{
	
	width: 100%;
	height: 100%;
}

#wave {
  margin: 25% 50%;
  width:100px;
  height:100px;
  

}
.dot {
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:3px;
    background:#303131;
    animation: wave 1.3s linear infinite;
}

.dot:nth-child(2) {
      animation-delay: -1.1s;
    }

.dot:nth-child(3) {
      animation-delay: -0.9s;
    }


@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

#load-txt{
	position: absolute;
	font-size: 2.5vw;
	font-weight: 550;
	font-family: "NTR", sans-serif;
	color: rgb(130, 130, 130);
	animation: textChange 1.5s infinite;
	margin: -28% 48%;	

}



@keyframes textChange{
	0% {color: rgb(66, 227, 154);}
	50% {color: rgb(8, 252, 244);}
	100% {color: rgb(66, 227, 154);}
	
}

.house-cntr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(224, 224, 243);
}

.house-card {
    
    width: 350px;
    height: 400px;
    background-color: white;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    
}

.content{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    margin-left: 7.5%;
}

.house-img{
    width: 300px;
    height: 200px;
}

.house-card, p{
    display: inline-block;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 0;
}

/*  Media   */

@media only screen and (min-width: 700px) and (max-width: 900px){
	
	
	#load-txt{
		font-size: 20px;
	}

}

@media only screen and (max-width: 700px){
	
	
	#load-txt{
		font-size: 20px;
	}	

	

	}