.navbar {
    height: 10rem;
}

.navbar-item {
    font-size: x-large;
    padding: 2rem;
}

#logo {
    height: 50px;
}

.navbar-item > img {
    max-height: unset !important;
}

.navbar-link > a {
    padding: unset !important;
}

#homelink, #houseslink, #aboutlink, #accountlink {
    padding: 2rem;
}

.buttons {
    padding-right: 6rem;
}