.navbar {
    height: 10rem;
}

.navbar-item {
    font-size: x-large;
    padding: 2rem;
}

#logo {
    height: 50px;
}

.navbar-item > img {
    max-height: unset !important;
}

.navbar-link > a {
    padding: unset !important;
}

#homelink, #houseslink, #aboutlink, #accountlink {
    padding: 2rem;
    
}

.buttons {
    padding-right: 6rem;
}

#navlinks a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    color: black;
}

#navlinks a:hover {
    color: #fddb3a;
}

#navlinks .nav-dot {
    position: absolute;
    top: 100px;
    width: 12px;
    height: 12px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



#navlinks a:nth-child(5):hover ~ .nav-dot {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
#navlinks a:nth-child(4):hover ~ .nav-dot {
    -webkit-transform: translateX(-205px);
    transform: translateX(-205px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
#navlinks a:nth-child(3):hover ~ .nav-dot {
    -webkit-transform: translateX(-345px);
    transform: translateX(-345px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
#navlinks a:nth-child(2):hover ~ .nav-dot {
    -webkit-transform: translateX(-480px);
    transform: translateX(-480px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  #navlinks a:nth-child(1):hover ~ .nav-dot {
    -webkit-transform: translateX(-620px);
    transform: translateX(-620px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }